/* .red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    top: 0px;
    display: inline-block;
}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    top: 0px;
    display: inline-block;
}

.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: relative;
    top: 0px;
    display: inline-block;
} */




.red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    top: 0px;
    left: 200px;
    display: inline-block;
}

.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    top: 0px;
    display: inline-block;
    right: 100px;
}

.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: relative;
    top: 0px;
    display: inline-block;
    right: 100px;
}